<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><{$seo.title}></title>
    <meta name="keywords" content="<{$seo.keywords}>" />
    <meta name="description" content="<{$seo.description}>" />
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/Comm.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/register.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/Home.css"/>
    <script type="text/javascript" src="__PUBLIC__/home//js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery.cookie.js"></script>
</head>
<body >

<div class="header">
    <div class="d"><div>

        <div class="site_top">
            <div class="head_top">
                <p class="collect"><a href="javascript:;" id="addSiteFavorite" style="cursor: default;text-decoration: none;">欢迎来到云购</a></p>
                <p class="collect"><a href="{G_WEB_PATH}/?/mobile/mobile">手机版</a></p>
                <ul class="login_info" style="display: block;">
                   <if condition="$Think.cookie.uid neq ''">
                    <li class="h_wel" id="logininfo">
                        <a href="{WEB_PATH}/member/home" class="gray01" >
                            <img src="{G_UPLOAD_PATH}/{wc:fun:get_user_img('3030')}" width="30" height="30"/>
                            <{$Think.cookie.username}>
                        </a>&nbsp;&nbsp;
                        <a href="{WEB_PATH}/member/user/cook_end" class="gray01">[退出]</a>
                    </li>
                    <else/>
                    <li id="logininfo" class="h_login">
                        <a style="color:#3399FF" class="gray01" href="<{:U('User/login')}>" >请登录</a>
                        <a class="gray01" href="<{:U('User/register')}>" >免费注册</a>
                    </li>
                   </if>
                    <li class="h_1yyg">
                        <a  href="{WEB_PATH}/home/member">我的云购<b></b></a>
                        <div class="h_1yyg_eject" style="display:none;">
                            <dl>
                                <dt><a  href="{WEB_PATH}/member/home">我的云购<i></i></a></dt>
                                <dd><a  href="{WEB_PATH}/member/home/userbuylist">云购记录</a></dd>
                                <dd><a  href="{WEB_PATH}/member/home">获得的商品</a></dd>
                                <dd><a  href="{WEB_PATH}/member/home/userrecharge">帐户充值</a></dd>
                                <dd><a  href="{WEB_PATH}/member/home/modify">个人设置</a></dd>
                            </dl>
                        </div>
                    </li>
                    <li class="h_inv"><a target="_blank" href="{G_WEB_PATH}/?/go/index/qualification#rz1"><img border="0" src="images/pa" style="display:none;">诚信验证</a></li>
                    <li class="h_inv"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={wc:fun:_cfg("qq")}&site=qq&menu=yes"><img border="0" src="images/pa" style="display:none;">在线客服</a></li>
                </ul>
            </div>
        </div>



        <div class="head_mid">
            <div class="head_mid_bg">
                <h1 class="logo_1yyg">
                    <a class="logo_1yyg_img" href="<{:U('Index/index')}>" title="">
                        <img src="__PUBLIC__/home/images/logo.png"/>
                    </a>
                </h1>
                <div class="head_number">
                    已
                    <a href="{WEB_PATH}/buyrecord" target="_blank">
                        <span id="spBuyCount" style="color:#22AAFF; background:#F5F5F5; opacity:1;">2</span>
                    </a>
                    人次参与云购

                </div>

                <div class="head_search">
                    <div class="search_all">
                        <input type="text" id="txtSearch" class="init" value='请输入要搜索的商品'/>
                        <a class="search_submit" id="butSearch"  >
                            <i class="ico_search"></i>
                        </a>
                    </div>
                    <div class="keySearch">
                        <a href="{WEB_PATH}/s_tag/苹果" target="_blank">苹果</a>
                        <a href="{WEB_PATH}/s_tag/iPhone" target="_blank">iPhone</a>
                        <a href="{WEB_PATH}/s_tag/智能手机" target="_blank">智能手机</a>
                        <a href="{WEB_PATH}/s_tag/G手机" target="_blank">3G手机</a>
                        <a href="{WEB_PATH}/s_tag/宝马" target="_blank">宝马</a>
                        <a href="{WEB_PATH}/s_tag/单反" target="_blank">单反</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--header end-->
        <div class="head_nav">
            <div class="nav_center">
                <div class="m_catlog">
                    <div class="m_catlog_hd" >
                        <a href="{WEB_PATH}/goods_list">奖品分类</a>
                    </div>
                    <div class="m_catlog_wrap"  style="<?php echo $index == 'Index'?'display:block;':'display:none;'; ?>">
                        <div class="m_catlog_bd">
                            <ul class="m_catlog_list">
                               <volist name="cat_list" id="vo">
                                <li><a href="<{:U('Goods/goodslist',array('cateid'=>$vo['cateid']))}>"><{$vo.name}></a></li>
                               </volist>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="m_menu">
                    <ul class="m_menu_list">
                        <{:Getheaderb()}>
                    </ul>
                </div>
                <div class="w_miniCart"  id="sCart">
                    <a class="w_miniCart_btn" rel="nofollow"  id="sCartNavi"  href="{WEB_PATH}/member/cart/cartlist" data-pro="btn"><i class="ico ico_miniCart"></i>购物车
                        <span type="hidden"  class="w-miniCart-count" id="sCartTotal">0</span></a>
                    <b id="btnMyCartccc"></b>
                    <div class="mycart_list" id="sCartlist" style="z-index: 99999; display: none;">
                        <div class="goods_loding" id="sCartLoading" style="display: none;"><img border="0" alt="" src="__PUBLIC__/home/images/goods_loading.gif">正在加载......</div>
                        <p id="p1">共计 <span id="sCartTotal2"> 2</span> 件商品 金额总计：<span id="sCartTotalM" class="rmbred">5.00</span></p>
                        <h3><input type="button" id="sGotoCart" value="去购物车并结算"></h3>
                    </div>
                </div>

            </div>
        </div>

        <script>
            $(function(){
                $("#sCart").hover(
                        function(){
                            $("#sCartlist,#sCartLoading").show();
                            $("#sCartlist p,#sCartlist h3").hide();
                            $("#sCart .mycartcur").remove();
                            $("#sCartTotal2").html("");
                            $("#sCartTotalM").html("");
                            $.getJSON("{WEB_PATH}/member/cart/cartheader/="+ new Date().getTime(),function(data){
                                $("#sCart .mycartcur").remove();
                                $("#sCartLoading").before(data.li);
                                //浏览器兼容20150116ghm
                                $("#sCartTotal2").html(data.num);
                                if(data.sum=='0.00'){
                                    if(data.num=='1'){
                                        $("#sCartTotal2").html(data.num-1);
                                    }else{
                                        $("#sCartTotal2").html(data.num);
                                    }
                                }else{
                                    $("#sCartTotal2").html(data.num);
                                }
                                //浏览器兼容20150116ghm
                                $("#sCartTotalM").html(data.sum);
                                $("#sCartLoading").hide();
                                $("#sCartlist p,#sCartlist h3").show();
                            });
                        },
                        function(){
                            $("#sCartlist").hide();
                        }
                );
                $("#sGotoCart").click(function(){
                    window.location.href="{WEB_PATH}/member/cart/cartlist";
                });
            })
            function delheader(id){
                var Cartlist = $.cookie('Cartlist');
                var info = $.evalJSON(Cartlist);
                var num=$("#sCartTotal2").html()-1;
                var sum=$("#sCartTotalM").html();
                info['MoenyCount'] = sum-info[id]['money']*info[id]['num'];

                delete info[id];
                //$.cookie('Cartlist','',{path:'/'});
                $.cookie('Cartlist',$.toJSON(info),{expires:30,path:'/'});
                $("#sCartTotalM").html(info['MoenyCount']);
                $('#sCartTotal2').html(num);
                $('#sCartTotal').text(num);
                $('#btnMyCart em').text(num);
                $("#mycartcur"+id).remove();
            }
            $(function(){
                $(".h_1yyg").mouseover(function(){
                    $(".h_1yyg_eject").show();
                });
                $(".h_1yyg").mouseout(function(){
                    $(".h_1yyg_eject").hide();
                });
                $(".h_news").mouseover(function(){
                    $(".h_news_down").show();
                });
                $(".h_news").mouseout(function(){
                    $(".h_news_down").hide();
                });
            });
            $(function(){
                $("#txtSearch").focus(function(){
                    $("#txtSearch").css({background:"#FFFFCC"});
                    var va1=$("#txtSearch").val();
                    if(va1=='输入"红米手机"试一试'){
                        $("#txtSearch").val("");
                    }
                });
                $("#txtSearch").blur(function(){
                    $("#txtSearch").css({background:"#FFF"});
                    var va2=$("#txtSearch").val();
                    if(va2==""){
                        $("#txtSearch").val('输入"红米手机"试一试');
                    }
                });
                $("#butSearch").click(function(){
                    window.location.href="{WEB_PATH}/s_tag/"+$("#txtSearch").val();
                });
            });


            {wc:if !isset($isindex) || $isindex!='Y'}
                $(".m_catlog_hd").mouseover(function(){
                    $(".m_catlog_wrap").show();
                })
                $(".m_catlog_hd").mouseout(function(){
                    $(".m_catlog_wrap").hide();
                })
                $(".m_catlog_wrap").mouseover(function(){
                    $(".m_catlog_wrap").show();
                })
                $(".m_catlog_wrap").mouseout(function(){
                    $(".m_catlog_wrap").hide();
                })
                {wc:if:end}

        </script>
